@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove all the default styles since we'll be using Tailwind */
@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply m-0 min-h-screen;
  }
}